body {
  font-size: 12px;
}

.box {
  border: 1px solid black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_title {
  font-style: italic;
}

.second_title {
  font-weight: bold;
  font-size: 14px;
}

.capitalizeEachWord {
  text-transform: capitalize;
}